<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>Image Input</title>
</head>
<body>
  <script type="text/javascript" src="{{ url_for('static', filename='fileUpload.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <h1>AI 기반 신체 비율 자동 산출기</h1>

  <h2>분석할 이미지를 업로드해 주세요(최대 100장).</h2>
      <form method="post" enctype="multipart/form-data" accept="image/*" multiple>    <!--form: client에서 server로 보낼 정보를 담을 가방--> <!--action: 정보가 도착할 목적지-->
        <p>이미지 업로드
          <input type='file' name='imgfile' id='imgfile' onchange="checkType(this)" accept="image/*" multiple></input>
        </p>
      </form>
      <button onclick="uploadFile()">신체 비율 측정하기</button>
</body>
</html>
